doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title My Node.js Process is on Fire

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='fire', style='color: white').transgray
        h1 My Node.js Process is on Fire
        br
        h4 by&nbsp;
          a(href="http://twitter.com/matteocollina") @matteocollina

      section
        h1.blink_me(style='color: red') ALARM

      section
        h1.blink_me(style='color: red') MAXIMUM NUMBER OF SERVERS REACHED

      section(data-bespoke-backdrop='water').trans
        h2(style='color: white; font-variant: small-caps')
          | Number of servers increased, latency and response times are within boundaries

      section
        h1 post-mortem

      section(data-bespoke-backdrop='lab').trans
        br
        br
        br
        br
        h2(style="color: white; margin-left: 0px; margin-right: auto;") what happened?

      section
        h2 How to fix?

        ul.bullet
          li gather diagnostics data and evidence
          li reproduce the problem in a non-prod live environment
          li reproduce the problem in a synthethic way
          li gather diagnostics data and evidence
          li try a fix for the problem
          li if not fixed, go back and try again

      section
        h2 Fixing performance issues

        ul.bullet
          li establish a <em>measurable</em> goal
          li measure
          li find the bottleneck
          li optimize/fix
          li measure
          li &nbsp;&nbsp;&nbsp;go back if it does not meet the goal

      section(data-bespoke-backdrop='goal').trans
        h2(style="text-align: right; margin-left: 20%")
          | Establishing a
          br
          | measurable Goal

      section(data-bespoke-backdrop='goal').trans
        h3(style="width: 70%")
          em My&nbsp;
          | application
          | must have a response time < 200ms at P99
          | with 100 concurrent requests
          | per server

      // section
      //   h3(style="width: 70%")
      //     em My&nbsp;
      //     | application
      //     | must handle 10000 request/s with
      //     | with 100 concurrent requests
      //     | per server

      section
        h2 Latency and throughput
          br
          | are connected

        ul.bullet
          li Node.js is single threaded
          li Multiple I/O actions in parallel
          li In case of high I/O latency, we increase concurrency
          li Higher latency and concurrency increase memory usage
          li High memory usage increase GC activity
          li GC activity costs precious CPU cycles to run

      section(data-bespoke-backdrop='start', style='color: white').transgray
        h2(style="text-align: left; margin-right: 30%")
          | Measure

      section
        img(src='images/autocannon.png', style='width:100%;margin-bottom:5%;margin-top:-5%')
        h3 HTTP load tester
        h3 Trival cross platform installation
        h3
          a(href="https://github.com/mcollina/autocannon") https://github.com/mcollina/autocannon

      section
        img(src='images/autocannon-demo.gif', style='height: 80%')

      section
        h2 How do we find the bottleneck?

      section(data-bespoke-backdrop='lens', style='color: white').trans
        h2 Diagnostics

      section
        img(src='images/clinic.png', style='width:90%;')

        h3
          a(href="https://github.com/nearform/node-clinic")
            | github.com/nearform/node-clinic

      section
        h2 Node Clinic

        pre
          code.language-none.
            npm install clinic -g

            clinic doctor -- node demo.js
            clinic flame -- node demo.js

            # more tools

      section
        h2 clinic doctor

        img(src='images/doctor.svg', style='width:80%;')

      section
        h2 clinic doctor

        pre
          code.language-none.
            $ clinic doctor -- node server.js

      section
        a(href="doctor-demo.html", target="blank")
          img(src='images/event-loop-delay.png', style='width: 100%;')


      section
        h2 clinic flame

        br
        br
        br
        img(src='images/0x.png', style='width: 60%;')

      section
        h2 clinic flame

        pre
          code.language-none.
            $ clinic flame -- node server.js

      section
        a(href="flamegraph.html", target="blank")
          img(src='images/flamegraph.png', style='width:80%;')

      section
        pre
          code.language-javascript.
            require('restify')
              .createServer()
              .get('/', function (req, res, next) {
                sleep(30)
                res.send({})
                next()
              }).listen(3000)

            function sleep (ms) {
              const future = Date.now() + ms
              while (Date.now() < future);
            }

      // section
      //  video(src="images/demo.mp4" preload="auto" style="height: 100%" controls)

      section(data-bespoke-backdrop="hole" style="color: white").transgray
        h2() The Node.js Performance Workshop is tomorrow at 9:00am

        h3 ..and get lost in the rabbit hole of performance.
          br
          | You'll learn how to

        ul.bullet
          li diagnose a performance problem
          li use flamegraphs to know where is a problem
          li dig deep on V8 flags to understand what is happening
          li ..on a "slow" REST API.

      section
        h3 Most code does not need to go
        img(src="./images/ludicrous.gif")

      section
        h2 Acknowledgements
        br
        br
        div.bullet
          img.bullet(src="images/nearform.svg" style="width: 70%")

      section
        h2 The Team

        img(src="images/clinic-team.jpg" style="width: 100%")


      // section

      //   ul.bullet
      //     li Andreas Madsen
      //     li Joy Burke
      //     li Conor O'Neil
      //     li Mathias Buus
      //     li Alan Slater
      //     li Kamil Mech

      section
        h2 This presentation
        ul.bullet
          li
            a(href="https://mcollina.github.io/my-node-process-is-on-fire").
              https://mcollina.github.io/my-node-process-is-on-fire
          li
            a(href="https://github.com/mcollina/my-node-process-is-on-fire").
              https://github.com/mcollina/my-node-process-is-on-fire

      section
        a(href='http://github.com/mcollina')
          img(src='images/me.png' style="width: 100%")

      section
        h1 Thanks!
        a(href="http://nearform.com" style="width: 20%")
          img(src="./images/nearform.svg")
        br
        p If you need help with Node.js, contact us
        br
        h3 <a href="mailto:matteo.collina@nearform.com">matteo.collina@nearform.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://www.nearform.com">www.nearform.com</a>

    script(src='build/build.js')
    script(src='http://localhost:35729/livereload.js')
