doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title My Node.js Process is on Fire

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='fire', style='color: white').transgray
        h1 My Node.js Process is on Fire
        br
        h4 by&nbsp;
          a(href="http://twitter.com/matteocollina") @matteocollina

      section
        h1.blink_me(style='color: red') ALARM

      section
        h1.blink_me(style='color: red') MAXIMUM NUMBER OF SERVERS REACHED

      section(data-bespoke-backdrop='water').trans
        h2(style='color: white; font-variant: small-caps')
          | Number of servers increased, latency and response times are within boundaries

      section
        h1 post-mortem

      section(data-bespoke-backdrop='lab').trans
        br
        br
        br
        br
        h2(style="color: white; margin-left: 0px; margin-right: auto;") what happened?

      section
        img(src='images/0x.png', style='height:80%;')

      section
        img(src='images/autocannon.png', style='width:100%;')

      section
        video(src="images/demo.mp4" preload="auto" style="height: 100%" controls)

      section
        h3 Most code does not need to go
        img(src="./images/ludicrous.gif")

      section
        a(href="https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/")
          img(src="images/turbofan-post.png", style="width: 90%")
        p(style="font-size: 0.6em;")
          a(href="https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/") https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/

      section
        h2 Acknowledgements
        br
        br
        div.bullet
          img.bullet(src="images/nearform.svg" style="width: 70%")

      section
        h2 This presentation
        ul.bullet
          li
            a(href="https://mcollina.github.io/my-node-process-is-on-fire").
              https://mcollina.github.io/my-node-process-is-on-fire
          li
            a(href="https://github.com/mcollina/my-node-process-is-on-fire").
              https://github.com/mcollina/my-node-process-is-on-fire

      section
        img(src='images/me.png' style="width: 100%")
        h3
          a(href='http://github.com/mcollina') http://github.com/mcollina

      section
        h1 Thanks!
        a(href="http://nearform.com" style="width: 20%")
          img(src="./images/nearform.svg")
        br
        p If you need help with Node.js, contact us
        br
        h3 <a href="mailto:matteo.collina@nearform.com">matteo.collina@nearform.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://www.nearform.com">www.nearform.com</a>

    script(src='build/build.js')
    script(src='http://localhost:35729/livereload.js')
